
/*=====変数=====*/
$colorYellow: #ebb94d;

$lg: 1025px; //大きいモニター
$pc: 1024px; // PC
$tab: 767px; // タブレット
$sp: 420px;  // スマホ

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin bgImg ($position){
  background-size: cover;
  background-position: $position;
}
@mixin size ($width, $height){
  width: $width;
  height: $height;
}
@mixin txt ($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

/*=====グローバル=====*/
a {
  text-decoration: none;
  color: inherit;
}

p.txtSmall {
  font-size: 12px;
}
.txtWhite {
  color: #fff;
}
.txtYellow {
  color: #ebb94d;
}
.btn {
  background-color: #da6b64;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
}
.wrapper {
  padding: 20px 0;
  max-width:94%;
  margin: auto;
}
br.brPC {
  display: block;
}
br.brSP {
  display: none;
}
.brackets::before, .brackets::after {
  @include size (50px, 50px);
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.brackets {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before {
    top: 0;
    left: 0;
    border-top: 4px solid $colorYellow;
    border-left: 4px solid $colorYellow;
  }
  &:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid $colorYellow;
    border-right: 4px solid $colorYellow;
  }
    h2 {
      font-size: 24px;
      font-weight: 600;
      padding: 0 40px;
    }
}


/*=====header=====*/
header {
	div.wrapper {
    @include size (100%, 35px);
    position: relative;
    display: flex;
		div.logoWrap {
      display: flex;
      align-items: center;
			div.logo {
        height: 44px;
				img {
          width: 128px;
        }
      }
      p.subTitle {
        @include txt (14px,600);
        position: relative;
        bottom: -10px;
      }
		}
    div.contactWrap {
      div.contactPC {
        @include txt (14px,300);
        display: block;
        position: absolute;
        right: 0px;
        top: 16px;
        padding: 11px 40px;
      }
      div.contactSP {
        display: none;
      }
    }
  }
}

/*ヒーローイメージ*/
div.hero {
  @include bgImg (center);
  background-image: url(../img/sky.jpg);
	div.wrapper {
    text-align: center;
    padding: 50px 0;
		div.mainLogo {
      margin-top: 20px;
			img {
        max-width: 371px;
        width: 94%;
        margin: auto;
      }
    }
    div.mainLogo + p.txt {
      margin-top: 20px;
      font-size: 14px;
		}
	}
}

/*conversion*/
div.conversion {
  background-color: $colorYellow;
	div.wrapper {
    width: 906px;
    margin: auto;
    text-align: center;
    padding: 40px 0;
		p.txt {
      @include txt (16px,600);
    }
		p:not(:first-child) {
      margin-top: 20px;
			code {
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: 600;
      }
		}
		div.btn.contactPC {
      max-width: 806px;
      margin: 10px auto 0;
      padding: 25px 50px;
      border-radius: 9999px;
      font-weight: 600;
		}
		div.currently {
			ul {
        margin-top: 20px;
				li {
          @include txt (16px,600);
          margin-top: 20px;
        }
			}
    }
    div.sns {
      margin-top: 20px;
      ul {
        display: flex;
        justify-content: center;
        li {
          line-height: 0;
          margin-left: 5px;
        }
      }
    }
	}
}

div.introduction {
  @include bgImg (bottom);
  background-image: url(../img/road.PNG);
  background-size: 100% auto;
	background-repeat: no-repeat;

  div.wrapper {
    text-align: center;
    padding: 50px 0 0 0;
    max-width: 100%;
    div.txt {
      @include txt (16px,300);
      margin: 30px 30px 0;
      height: 340px;
      p + p {
        margin-top: 24px;
        span.underLine {
          font-weight: bold;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, $colorYellow));
          background: linear-gradient(transparent 70%, $colorYellow 70%);
        }
      }
    }
    div.aboutIcon {
      position: relative;
      top: 40px;
      p.circleAbout {
        @include size (80px, 80px);
        @include txt (14px,300);
        color: #fff;
        background-color: $colorYellow;
        padding: 0;
        margin: 0;
        line-height: 80px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}

div.about {
  background-color: #fef5e0;
  text-align: center;
	div.wrapper {
    padding: 90px 0 60px;
		p.txt {
      margin-top: 30px;
		}
		div.aboutbox {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border: 2px solid $colorYellow;
      margin: 30px auto;
      max-width: 1000px;
      div.boxes {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        div.box {
          width: 128px;
          p {
            img {
              @include size (auto, auto);
              max-width: 100%;
              max-height: 100%;
              height: 40px;
            }
          }
        }
        div.box + div.box {
          margin-left: 20px;
        }
      }
		}
	}
}

div.aboutsecond {
  @include bgImg (center);
  background-image: url(../img/night.jpg);
  text-align: center;
	div.wrapper {
		h2.txt {
      font-size: 24px;
    }
		p.txtWhite {
      @include txt (16px,600);
		}    
		p:nth-child(2).txtWhite {
      margin-top: 30px;
		}
	}
	div.chart {
    max-width: 520px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
		p.step {
      @include txt (14px,600);
      background-color: #ebb94d;
      border-radius: 5px;
    }
    p.content {
      @include txt (14px,600);
      margin-top: 20px;
      color: #333;
      line-height: 2;
    }
	}
}

div.aboutthird {
  background-color: #016ea9;
  text-align: center;
	p.txtSmall {
    @include txt (14px,600);
	}
}

div.learning {
  text-align: center;
	div.wrapper {
    padding: 60px 0;
		div.boxes {
      display: flex;
      justify-content: center;
      margin-top: 60px;
			div.circle:not(:first-child) {
        margin-left: 40px;
      }
      div.circle {
        img {
          width: 100%;
        }
      }
    }
    div.boxes+p {
      margin-top: 60px;
      font-weight: 600;
    }
	}
}


/*メディアクエリ タブレットサイズ*/
@include tab {
  br.brSP {
    display: block;
  }

  header {
    div.wrapper {
      div.logoWrap {
        p.subTitle {
          font-size: 10px;
        }
      }
      div.contactWrap {
        width: auto;
        div.contactPC {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.conversion {
    div.wrapper {
      p:not(:first-child) {
        code {
          font-size: 12px;
        }
      }
      div.currently {
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }

  div.introduction {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 18px;
        }
      }
      div.txt {
        height: 430px;
        p {
          font-size: 15px;
        }
      }
    }
  }

  div.about {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 18px;
        }
      }
      div.aboutbox {
        P.txt {
          font-size: 14px;
        }
        div.boxes {
          div.box {
            p {
              img {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }

  div.aboutsecond {
    div.wrapper {
      h2.txt {
        font-size: 18px;
      }
      p.txtWhite {
        font-size: 14px;
        margin-top: 20px;
      }
      p.txtWhite + p.txtWhite {
        margin-top: 10px;
      }
    }
    div.chart {
      padding: 20px;
      p.step {
        font-size: 14px;
        margin-top: 0;
      }
      p.content {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }

}

/*メディアクエリ スマホサイズ*/
@include sp {
  br.brSP {
    display: block;
  }

  header {
    div.wrapper {
      max-width: 100%;
      height: 61px;
      padding: 0;
      align-items: flex-start;
      div.logoWrap {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 10px 5px;
        div.logo {
          height: 31px;
          img {
            width: 90px;
          }
        }
        p.subTitle {
          bottom: 0;
        }
      }
      div.contactWrap {
        div.contactPC {
          display: none;
        }
        div.contactSP {
        position: absolute;
        right: 0px;
        padding: 9px 11px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
          img {
            width: 20px;
            margin: auto;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.conversion {
    div.wrapper {
      div.currently {
        ul {
          li {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.about {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 16px;
        }
      }
      p.txt {
        font-size: 14px;
      }
      div.aboutbox {
        P.txt {
          font-size: 14px;
        }
        div.boxes {
          flex-direction: column;
          div.box + div.box {
            margin: 20px 0 0;
            p {
              img {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }

  div.aboutsecond {
    div.wrapper {
      h2.txt {
        font-size: 16px;
      }
      p.txtWhite {
        font-size: 12px;
      }
    }
    div.chart {
      p.step {
        font-size: 12px;
      }
      p.content {
        font-size: 12px;
      }
    }
  }

  div.learning {
    div.wrapper {
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      div.boxes {
        flex-direction: column;
        div.circle:not(:first-child) {
          margin: 20px 0 0;
        }
        div.circle {
          img {
            width: 100%;
            max-width: 130px;
          }
        }
      }
    }
  }

}

/*メディアクエリ lgサイズ*/
@include lg {
  div.introduction {
    div.wrapper {
      div.aboutIcon {
        position: relative;
        top: 60px;
        p.circleAbout {
          @include size (120px, 120px);
          color: #fff;
          background-color: $colorYellow;
          padding: 0;
          margin: 0;
          line-height: 120px;
          text-align: center;
          display: inline-block;
          border-radius: 50%;
          font-size: 14px;
        }
      }
    }
  }
}