@charset "UTF-8";
/*=====変数=====*/
/*=====グローバル=====*/
a {
  text-decoration: none;
  color: inherit;
}

.txtMin {
  font-size: 12px;
  font-weight: 300;
}

.txtMinBold {
  font-size: 12px;
  font-weight: 600;
}

.txtSmall {
  font-size: 14px;
  font-weight: 600;
}

.txtMedium {
  font-size: 16px;
  font-weight: 600;
}

.txtLarge {
  font-size: 18px;
  font-weight: 600;
}

.txtMax {
  font-size: 24px;
  font-weight: 600;
}

.txtWhite {
  color: #fff;
}

.txtYellow {
  color: #ebb94d;
}

.btn {
  background-color: #da6b64;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
}

.image {
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  padding: 20px 0;
  max-width: 94%;
  margin: auto;
  text-align: center;
}

.brPC {
  display: block;
}

.brTAB {
  display: none;
}

.brSP {
  display: none;
}

.brackets::before, .brackets::after {
  width: 50px;
  height: 50px;
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.brackets {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
div.brackets:before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}
div.brackets:after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}
div.brackets h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 0 40px;
}

div.yellowbox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ebb94d;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/*=====header=====*/
header div.wrapper {
  width: 100%;
  height: 35px;
  position: relative;
  display: flex;
}
header div.wrapper div.logoWrap {
  display: flex;
  align-items: center;
}
header div.wrapper div.logoWrap div.logo {
  height: 44px;
}
header div.wrapper div.logoWrap div.logo img {
  width: 128px;
}
header div.wrapper div.logoWrap p.subTitle {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  bottom: -10px;
}
header div.wrapper div.contactWrap div.contactPC {
  font-size: 14px;
  font-weight: 300;
  display: block;
  position: absolute;
  right: 0px;
  top: 16px;
  padding: 11px 40px;
}
header div.wrapper div.contactWrap div.contactSP {
  display: none;
}

/*ヒーローイメージ*/
div.hero {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main.jpg);
}
div.hero div.wrapper {
  padding: 50px 0;
}
div.hero div.wrapper div.mainLogo {
  margin-top: 20px;
}
div.hero div.wrapper div.mainLogo img {
  max-width: 371px;
  width: 94%;
  margin: auto;
}

/*conversion*/
div.conversion {
  background-color: #ebb94d;
}
div.conversion div.wrapper {
  width: 906px;
  margin: auto;
  padding: 40px 0;
}
div.conversion div.wrapper p.txt {
  font-size: 16px;
  font-weight: 600;
}
div.conversion div.wrapper p:not(:first-child) {
  margin-top: 20px;
}
div.conversion div.wrapper p:not(:first-child) code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: 600;
}
div.conversion div.wrapper div.btn.contactPC {
  max-width: 806px;
  margin: 10px auto 0;
  padding: 25px 50px;
  border-radius: 9999px;
  font-weight: 600;
}
div.conversion div.wrapper div.currently ul {
  margin-top: 20px;
}
div.conversion div.wrapper div.currently ul li {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
div.conversion div.wrapper div.sns {
  margin-top: 20px;
}
div.conversion div.wrapper div.sns ul {
  display: flex;
  justify-content: center;
}
div.conversion div.wrapper div.sns ul li {
  line-height: 0;
  margin-left: 5px;
}

div.introduction {
  background-size: cover;
  background-position: bottom;
  background-image: url(../img/road.PNG);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
div.introduction div.wrapper {
  padding: 50px 0 0 0;
  max-width: 100%;
}
div.introduction div.wrapper div.txt {
  font-size: 16px;
  font-weight: 300;
  margin: 30px 30px 0;
  height: 340px;
}
div.introduction div.wrapper div.txt p + p {
  margin-top: 24px;
}
div.introduction div.wrapper div.txt p + p span.underLine {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}
div.introduction div.wrapper div.aboutIcon {
  position: relative;
  top: 40px;
}
div.introduction div.wrapper div.aboutIcon p.circleAbout {
  width: 80px;
  height: 80px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

div.about {
  background-color: #fef5e0;
  text-align: center;
}
div.about div.wrapper {
  padding: 90px 0 60px;
}
div.about div.wrapper div.yellowbox div.boxes {
  align-items: center;
}
div.about div.wrapper div.yellowbox div.boxes div.box {
  width: 128px;
}
div.about div.wrapper div.yellowbox div.boxes div.box p img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  height: 40px;
}
div.about div.wrapper div.yellowbox div.boxes div.box + div.box {
  margin-left: 20px;
}

div.aboutsecond {
  background-size: cover;
  background-position: center;
  background-image: url(../img/night.jpg);
}
div.aboutsecond div.wrapper h2.txt {
  font-size: 24px;
}
div.aboutsecond div.wrapper p.txtWhite {
  font-size: 16px;
  font-weight: 600;
}
div.aboutsecond div.wrapper p:nth-child(2).txtWhite {
  margin-top: 30px;
}
div.aboutsecond div.chart {
  max-width: 520px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}
div.aboutsecond div.chart p.step {
  font-size: 14px;
  font-weight: 600;
  background-color: #ebb94d;
  border-radius: 5px;
}
div.aboutsecond div.chart p.content {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  color: #333;
  line-height: 2;
}

div.aboutthird {
  background-color: #016ea9;
  text-align: center;
}
div.aboutthird p.txtSmall {
  font-size: 14px;
  font-weight: 600;
}

div.learning div.wrapper {
  padding: 60px 0;
}
div.learning div.wrapper div.boxes {
  margin-top: 60px;
}
div.learning div.wrapper div.boxes div.circle:not(:first-child) {
  margin-left: 40px;
}
div.learning div.wrapper div.boxes div.circle img {
  width: 100%;
}
div.learning div.wrapper div.boxes + p {
  margin-top: 60px;
  font-weight: 600;
}

div.merit {
  background-color: #fef5e0;
}
div.merit div.wrapper div.brackets h2 {
  padding: 0 40px;
  font-size: 20px;
  font-weight: 600;
}
div.merit div.wrapper div.brackets p {
  padding: 0 40px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}
div.merit div.wrapper div.boxes div.box {
  width: 300px;
}
div.merit div.wrapper div.boxes div.box img {
  max-width: 300px;
  width: 100%;
}
div.merit div.wrapper div.boxes div.box p.txtYellow {
  font-size: 16px;
  font-weight: 600;
}
div.merit div.wrapper div.boxes div.box p {
  padding: 10px 10px 0;
  font-size: 14px;
}
div.merit div.wrapper div.boxes div.box + div.box {
  margin-left: 20px;
}
div.merit div.wrapper div.yellowbox p.txtYellow {
  font-size: 24px;
  font-weight: 600;
}
div.merit div.wrapper div.yellowbox p + p {
  margin-top: 10px;
}
div.merit div.wrapper p.remarks {
  padding: 0 100px;
  font-weight: 300;
  text-align: center;
}

div.teacher {
  background-size: cover;
  background-position: center;
  background-image: url(../img/sunset.jpg);
  color: #fff;
}
div.teacher div.wrapper {
  padding: 60px 0;
}
div.teacher div.wrapper p.txtSmall {
  margin-top: 30px;
}
div.teacher div.wrapper div.boxes {
  margin: 190px auto 0;
}
div.teacher div.wrapper div.boxes div.box {
  max-width: 289px;
  border: solid 3px #fff;
  padding: 40px;
}
div.teacher div.wrapper div.boxes div.box div.circleImg {
  position: relative;
  bottom: 200px;
  height: 40px;
}
div.teacher div.wrapper div.boxes div.box div.circleImg img {
  width: 100%;
  max-width: 200px;
}
div.teacher div.wrapper div.boxes div.box p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
}
div.teacher div.wrapper div.boxes div.box p + p {
  margin-top: 15px;
}
div.teacher div.wrapper div.boxes div.box + div.box {
  margin-left: 30px;
}

div.why {
  background-color: #ebb94d;
  color: #fff;
}
div.why:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  left: 50%;
  margin-left: -25px;
}
div.why div.wrapper div.brackets:before, div.why div.wrapper div.brackets:after {
  border-color: #fff;
}

div.answer div.wrapper {
  padding: 40px 0;
}
div.answer div.wrapper h2 {
  font-size: 18px;
  font-weight: 600;
}
div.answer div.wrapper p.heading {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
div.answer div.wrapper p.heading + p.heading {
  font-size: 14px;
  font-weight: 300;
}
div.answer div.wrapper div.boxes {
  flex-direction: column;
}
div.answer div.wrapper div.boxes div.box + div.box {
  margin-top: 30px;
}
div.answer div.wrapper div.boxes div.box {
  display: flex;
  justify-content: center;
  text-align: left;
}
div.answer div.wrapper div.boxes div.box p.image {
  border: solid 3px #ebb94d;
  height: 250px;
}
div.answer div.wrapper div.boxes div.box p.image img {
  width: 250px;
}
div.answer div.wrapper div.boxes div.box div.comment {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 20px;
  padding: 20px 0;
  color: #777;
  font-size: 18px;
  font-weight: 300;
}
div.answer div.wrapper div.boxes div.box div.comment p.customer {
  font-style: italic;
  text-decoration: underline;
  border-width: 1px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

div.class {
  background-size: cover;
  background-position: center;
  background-image: url(../img/freelance.PNG);
}
div.class div.wrapper {
  padding: 60px 0;
}
div.class div.wrapper p.txtWhite {
  font-size: 14px;
  font-weight: 600;
}
div.class div.wrapper div.boxes {
  align-items: flex-start;
}
div.class div.wrapper div.boxes div.box + div.box {
  margin-left: 20px;
}
div.class div.wrapper div.boxes div.box {
  background-color: #016ea9;
  border-radius: 5px;
  border: solid 2px #016ea9;
  width: 255px;
}
div.class div.wrapper div.boxes div.box p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
}
div.class div.wrapper div.boxes div.box ul {
  background-color: #fff;
  padding: 10px;
}
div.class div.wrapper div.boxes div.box ul li + li {
  margin-top: 10px;
}
div.class div.wrapper div.boxes div.box ul li:not(:last-child) {
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 10px;
}
div.class div.wrapper div.boxes div.box ul li {
  font-size: 14px;
  font-weight: 600;
}

div.flow div.wrapper p.circleImage {
  margin: 30px 0;
}
div.flow div.wrapper p.circleImage img {
  width: 100%;
  max-width: 700px;
}
div.flow div.wrapper div.flowbox {
  display: flex;
  justify-content: center;
  background-color: #fef5e0;
  border-radius: 5px;
  padding: 35px;
  margin: auto;
}
div.flow div.wrapper div.flowbox div.flowleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
div.flow div.wrapper div.flowbox div.flowleft p.image img {
  width: 98px;
}
div.flow div.wrapper div.flowbox div.flowright {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 20px;
  text-align: left;
}
div.flow div.wrapper div.flowbox div.flowright p {
  margin-top: 20px;
}
div.flow div.wrapper p.flowLine {
  line-height: 0;
}
div.flow div.wrapper p.flowLine img {
  width: calc(100% - 300px);
}
div.flow div.boxesTab {
  display: none;
}

div.bangkok {
  background-size: cover;
  background-position: center;
  background-image: url(../img/guia.jpg);
  color: #fff;
  position: relative;
}
div.bangkok:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}
div.bangkok div.wrapper {
  width: 80%;
  padding: 50px;
  position: relative;
  z-index: 1;
}
div.bangkok div.wrapper h2.txtMax.txtWhite {
  text-align: left;
}
div.bangkok div.wrapper p.txtMin {
  text-align: left;
  margin-top: 30px;
}
div.bangkok div.wrapper ul {
  margin-top: 30px;
  list-style-type: disc;
  list-style-position: inside;
}
div.bangkok div.wrapper ul li {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
}
div.bangkok div.wrapper p.txtMedium {
  text-align: left;
  margin-top: 30px;
}

div.special {
  background-color: #ebb94d;
}
div.special div.wrapper {
  padding: 60px 0;
}
div.special div.wrapper p.txtSmall {
  margin-top: 30px;
}
div.special div.wrapper p.specialpeople.txtMax {
  position: relative;
  top: 40px;
  background-color: #ebb94d;
  width: 300px;
  margin: auto;
  padding: 0 50px;
}
div.special div.wrapper div.boxes {
  border: solid 3px #fff;
  padding: 60px 50px 50px;
  max-width: 850px;
  margin: auto;
}
div.special div.wrapper div.boxes div.circle {
  background-color: #fff;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.special div.wrapper div.boxes div.circle p.txtSmall {
  width: 220px;
  margin: 10px auto;
}
div.special div.wrapper div.boxes div.circle + div.circle {
  margin-left: 60px;
}
div.special div.wrapper div.boxesSP {
  display: none;
}

div.specialdetail {
  background-size: cover;
  background-position: center;
  background-image: url(../img/normad.jpg);
  color: #fff;
  position: relative;
}
div.specialdetail:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}
div.specialdetail div.wrapper {
  padding: 60px 0;
  position: relative;
}
div.specialdetail div.wrapper .txtLarge {
  margin-top: 30px;
}
div.specialdetail div.wrapper div.brackets {
  margin-top: 30px;
}
div.specialdetail div.wrapper div.brackets:before, div.specialdetail div.wrapper div.brackets:after {
  border-color: #fff;
}

div.message div.wrapper {
  padding: 60px 0;
  width: 85%;
}
div.message div.wrapper p.txtLarge {
  margin-top: 30px;
}
div.message div.wrapper div.boxes p img {
  width: 224px;
  height: 168px;
}
div.message div.wrapper div.boxes div.txtWrap {
  text-align: left;
  margin-left: 30px;
}
div.message div.wrapper div.boxes div.txtWrap p + p {
  margin-top: 10px;
}
div.message div.wrapper div.boxes div.txtWrap p {
  font-size: 14px;
  font-weight: 300;
}
div.message div.wrapper div.boxes div.txtWrap ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 30px 0;
}
div.message div.wrapper div.boxes div.txtWrap ul li {
  font-size: 14px;
  font-weight: 300;
}

div.contactform {
  background-color: #ebb94d;
}
div.contactform div.wrapper {
  width: 60%;
  padding: 60px 0;
}
div.contactform div.wrapper p {
  margin-top: 30px;
}
div.contactform div.wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
div.contactform div.wrapper form div.formdeco input[type=text],
div.contactform div.wrapper form div.formdeco input[type=email],
div.contactform div.wrapper form div.formdeco textarea[type=textarea] {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.9em;
  transition: 0s;
  border: 0px solid;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  height: 50px;
}
div.contactform div.wrapper form div.formdeco input[type=text]:focus,
div.contactform div.wrapper form div.formdeco input[type=email]:focus,
div.contactform div.wrapper form div.formdeco textarea[type=textarea]:focus {
  border: 3px solid #FFA500;
  border-radius: 4px;
}
div.contactform div.wrapper form div.formdeco textarea#question {
  height: 100px;
}
div.contactform div.wrapper form p.btn {
  height: 55px;
}
div.contactform div.wrapper form p.btn button {
  background-color: #da6b64;
  color: #fff;
  border-style: none;
  padding-top: 12px;
  font-size: 24px;
  font-weight: 600;
}

/*メディアクエリ タブレットサイズ*/
@media (max-width: 767px) {
  .brTAB {
    display: block;
  }

  .brPC {
    display: none;
  }

  header div.wrapper div.logoWrap p.subTitle {
    font-size: 10px;
  }
  header div.wrapper div.contactWrap {
    width: auto;
  }
  header div.wrapper div.contactWrap div.contactPC a {
    font-size: 12px;
  }

  div.conversion div.wrapper p:not(:first-child) code {
    font-size: 12px;
  }
  div.conversion div.wrapper div.currently ul li {
    font-size: 14px;
  }

  div.introduction div.wrapper div.brackets h2 {
    font-size: 18px;
  }
  div.introduction div.wrapper div.txt {
    height: 430px;
  }
  div.introduction div.wrapper div.txt p {
    font-size: 15px;
  }

  div.about div.wrapper div.brackets h2 {
    font-size: 18px;
  }
  div.about div.wrapper div.yellowbox P.txt {
    font-size: 14px;
  }
  div.about div.wrapper div.yellowbox div.boxes div.box p img {
    height: 30px;
  }

  div.aboutsecond div.wrapper h2.txt {
    font-size: 18px;
  }
  div.aboutsecond div.wrapper p.txtWhite {
    font-size: 14px;
    margin-top: 20px;
  }
  div.aboutsecond div.wrapper p.txtWhite + p.txtWhite {
    margin-top: 10px;
  }
  div.aboutsecond div.chart {
    padding: 20px;
  }
  div.aboutsecond div.chart p.step {
    font-size: 14px;
    margin-top: 0;
  }
  div.aboutsecond div.chart p.content {
    margin-top: 20px;
    font-size: 12px;
  }

  div.merit div.wrapper div.brackets h2 {
    font-size: 16px;
    font-weight: 600;
  }
  div.merit div.wrapper div.brackets p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  div.merit div.wrapper div.boxes {
    flex-direction: column;
    align-items: center;
  }
  div.merit div.wrapper div.boxes div.box {
    width: 100%;
  }
  div.merit div.wrapper div.boxes div.box p {
    padding: 10px 10px 0;
  }
  div.merit div.wrapper div.boxes div.box + div.box {
    margin: 20px 0 0;
  }
  div.merit div.wrapper div.yellowbox p.txtYellow {
    font-size: 24px;
    font-weight: 600;
  }
  div.merit div.wrapper div.yellowbox p + p {
    margin-top: 10px;
  }
  div.merit div.wrapper p.remarks {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 300;
  }

  div.teacher div.wrapper div.boxes {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  div.teacher div.wrapper div.boxes div.box {
    margin-top: 170px;
    padding: 0 40px 40px;
    max-width: 100%;
  }
  div.teacher div.wrapper div.boxes div.box div.circleImg {
    bottom: 100px;
  }
  div.teacher div.wrapper div.boxes div.box div.circleImg img {
    width: 120px;
  }
  div.teacher div.wrapper div.boxes div.box + div.box {
    margin-left: 0;
  }

  div.why div.wrapper div.brackets h2 {
    font-size: 14px;
  }

  div.answer div.wrapper {
    padding: 40px 0;
  }
  div.answer div.wrapper h2 {
    font-size: 18px;
    font-weight: 600;
  }
  div.answer div.wrapper p.heading {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  div.answer div.wrapper p.heading + p.heading {
    font-size: 14px;
    font-weight: 300;
  }
  div.answer div.wrapper div.boxes {
    flex-direction: column;
    padding: 0 50px;
  }
  div.answer div.wrapper div.boxes div.box + div.box {
    margin-top: 40px;
  }
  div.answer div.wrapper div.boxes div.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  div.answer div.wrapper div.boxes div.box p.image {
    border: solid 3px #ebb94d;
    height: 150px;
    width: 150px;
    margin: auto;
  }
  div.answer div.wrapper div.boxes div.box p.image img {
    width: 150px;
  }
  div.answer div.wrapper div.boxes div.box div.comment {
    padding: 0;
    margin: 10px 0 0;
    width: 100%;
  }

  div.class div.wrapper p.txtWhite {
    font-size: 14px;
    font-weight: 600;
  }
  div.class div.wrapper div.boxes {
    flex-direction: column;
  }
  div.class div.wrapper div.boxes div.box + div.box {
    margin: 30px auto;
  }
  div.class div.wrapper div.boxes div.box {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  div.class div.wrapper div.boxes div.box p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
  }
  div.class div.wrapper div.boxes div.box ul {
    background-color: #fff;
    padding: 10px;
  }
  div.class div.wrapper div.boxes div.box ul li + li {
    margin-top: 10px;
  }
  div.class div.wrapper div.boxes div.box ul li {
    font-size: 14px;
    font-weight: 600;
  }

  div.flow div.wrapper h2.txtMax {
    display: none;
  }
  div.flow div.wrapper div.flowbox {
    display: none;
  }
  div.flow div.wrapper p.flowLine {
    display: none;
  }
  div.flow div.wrapper div.boxesTab {
    display: block;
  }
  div.flow div.wrapper div.boxesTab div.box {
    background-color: #fef5e0;
    padding: 10px;
    margin-top: 5px;
  }
  div.flow div.wrapper div.boxesTab div.box div.heading {
    display: flex;
    justify-content: space-between;
  }
  div.flow div.wrapper div.boxesTab div.box div.heading div.headingleft {
    display: flex;
    align-items: center;
  }
  div.flow div.wrapper div.boxesTab div.box div.heading div.headingleft img {
    width: 35px;
  }
  div.flow div.wrapper div.boxesTab div.box div.heading div.headingleft p.headingFlow.txtSmall {
    margin-left: 10px;
  }
  div.flow div.wrapper div.boxesTab div.box div.heading i.fas.fa-angle-up {
    padding-top: 5px;
  }
  div.flow div.wrapper div.boxesTab div.box div.contents {
    display: none;
  }
  div.flow div.wrapper div.boxesTab div.box div.contents p.txtMin {
    margin-top: 20px;
    text-align: left;
  }
  div.flow div.wrapper div.boxesTab div.box div.contents.active {
    display: block;
  }
  div.flow div.wrapper div.boxesTab div.box .box p:not(:first-child) {
    margin-top: 10px;
    text-align: left;
  }

  div.special div.wrapper div.boxes {
    flex-direction: column;
    align-items: center;
  }
  div.special div.wrapper div.boxes div.circle + div.circle {
    margin: 50px 0 0;
  }

  div.specialdetail div.wrapper h2.txtMax {
    font-size: 20px;
    font-weight: 600;
  }
  div.specialdetail div.wrapper p.txtLarge {
    font-size: 14px;
    font-weight: 600;
  }

  div.message div.wrapper {
    width: 90%;
  }
  div.message div.wrapper div.boxes {
    flex-direction: column;
  }
  div.message div.wrapper div.boxes p img {
    width: 100%;
    height: auto;
  }
  div.message div.wrapper div.boxes div.txtWrap {
    margin-left: 0;
  }

  div.contactform {
    background-color: #ebb94d;
  }
  div.contactform div.wrapper {
    width: 94%;
    padding: 60px 0;
  }
  div.contactform div.wrapper h2 {
    font-size: 18px;
    font-weight: 600;
  }
  div.contactform div.wrapper p {
    font-size: 12px;
    font-weight: 600;
  }
  div.contactform div.wrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
/*メディアクエリ スマホサイズ*/
@media (max-width: 420px) {
  .brSP {
    display: block;
  }

  .brPC {
    display: none;
  }

  header div.wrapper {
    max-width: 100%;
    height: 61px;
    padding: 0;
    align-items: flex-start;
  }
  header div.wrapper div.logoWrap {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 10px 5px;
  }
  header div.wrapper div.logoWrap div.logo {
    height: 31px;
  }
  header div.wrapper div.logoWrap div.logo img {
    width: 90px;
  }
  header div.wrapper div.logoWrap p.subTitle {
    bottom: 0;
  }
  header div.wrapper div.contactWrap div.contactPC {
    display: none;
  }
  header div.wrapper div.contactWrap div.contactSP {
    position: absolute;
    right: 0px;
    padding: 9px 11px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  header div.wrapper div.contactWrap div.contactSP img {
    width: 20px;
    margin: auto;
  }
  header div.wrapper div.contactWrap div.contactSP a {
    font-size: 12px;
  }

  div.conversion div.wrapper div.currently ul li {
    font-size: 12px;
  }

  div.about div.wrapper div.brackets h2 {
    font-size: 16px;
  }
  div.about div.wrapper p.txt {
    font-size: 14px;
  }
  div.about div.wrapper div.yellowbox P.txt {
    font-size: 14px;
  }
  div.about div.wrapper div.yellowbox div.boxes {
    flex-direction: column;
  }
  div.about div.wrapper div.yellowbox div.boxes div.box + div.box {
    margin: 20px 0 0;
  }
  div.about div.wrapper div.yellowbox div.boxes div.box + div.box p img {
    height: 30px;
  }

  div.aboutsecond div.wrapper h2.txt {
    font-size: 16px;
  }
  div.aboutsecond div.wrapper p.txtWhite {
    font-size: 12px;
  }
  div.aboutsecond div.chart p.step {
    font-size: 12px;
  }
  div.aboutsecond div.chart p.content {
    font-size: 12px;
  }

  div.learning div.wrapper p {
    margin-top: 20px;
    font-size: 14px;
  }
  div.learning div.wrapper div.boxes {
    flex-direction: column;
  }
  div.learning div.wrapper div.boxes div.circle:not(:first-child) {
    margin: 20px 0 0;
  }
  div.learning div.wrapper div.boxes div.circle img {
    width: 100%;
    max-width: 130px;
  }

  div.merit div.wrapper div.brackets h2 {
    font-size: 14px;
    font-weight: 600;
  }
  div.merit div.wrapper div.brackets p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  div.merit div.wrapper div.boxes {
    flex-direction: column;
    align-items: center;
  }
  div.merit div.wrapper div.yellowbox p.txtYellow {
    font-size: 20px;
    font-weight: 600;
  }
  div.merit div.wrapper div.yellowbox p + p {
    margin-top: 10px;
  }
  div.merit div.wrapper p.remarks {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 300;
  }

  div.bangkok div.wrapper {
    padding: 20px;
  }
  div.bangkok div.wrapper ul > li {
    font-size: 12px;
    font-weight: 600;
  }

  div.special div.wrapper p.specialpeople.txtMax {
    top: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    width: 220px;
  }
  div.special div.wrapper div.boxes {
    display: none;
  }
  div.special div.wrapper div.boxesSP {
    display: block;
    border: solid 2px #fff;
    width: 90%;
    margin: auto;
  }
  div.special div.wrapper div.boxesSP div.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    padding: 0 40px;
  }
  div.special div.wrapper div.boxesSP div.benefits div.circleSP {
    border-radius: 50%;
    background-color: #fff;
    max-width: 60px;
    height: 60px;
    padding: 0;
  }
  div.special div.wrapper div.boxesSP div.benefits div.circleSP p.txtYellow.txtSmall {
    font-size: 12px;
    font-weight: 600;
    width: 60px;
    line-height: 60px;
    margin: 0;
  }
  div.special div.wrapper div.boxesSP div.benefits div.circleSP + p.txtSmall {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 10px;
  }
}
/*メディアクエリ lgサイズ*/
@media (min-width: 1025px) {
  div.introduction div.wrapper div.aboutIcon {
    position: relative;
    top: 60px;
  }
  div.introduction div.wrapper div.aboutIcon p.circleAbout {
    width: 120px;
    height: 120px;
    color: #fff;
    background-color: #ebb94d;
    padding: 0;
    margin: 0;
    line-height: 120px;
    display: inline-block;
    border-radius: 50%;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
