
/*=====変数=====*/
$colorYellow: #ebb94d;
$paleYellow: #fef5e0;
$colorBlue: #016ea9;

$lg: 1025px; //大きいモニター
$pc: 1024px; // PC
$tab: 767px; // タブレット
$sp: 420px;  // スマホ

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin bgImg ($position){
  background-size: cover;
  background-position: $position;
}
@mixin size ($width, $height){
  width: $width;
  height: $height;
}
@mixin txt ($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

/*=====グローバル=====*/

a {
  text-decoration: none;
  color: inherit;
}

.txtMin {
  @include txt (12px,300);
}
.txtMinBold {
  @include txt (12px,600);
}
.txtSmall {
  @include txt (14px,600);
}
.txtMedium {
  @include txt (16px,600);
}
.txtLarge {
  @include txt (18px,600);
}
.txtMax {
  @include txt (24px,600);
}

.txtWhite {
  color: #fff;
}
.txtYellow {
  color: $colorYellow;
}
.btn {
  background-color: #da6b64;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
}
.image {
  height: auto;
  vertical-align: bottom;
}
.wrapper {
  padding: 20px 0;
  max-width:94%;
  margin: auto;
  text-align: center;
}
.brPC {
  display: block;
}
.brTAB {
  display: none;
}
.brSP {
  display: none;
}
.brackets::before, .brackets::after {
  @include size (50px, 50px);
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.brackets {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  &:before {
    top: 0;
    left: 0;
    border-top: 4px solid $colorYellow;
    border-left: 4px solid $colorYellow;
  }
  &:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid $colorYellow;
    border-right: 4px solid $colorYellow;
  }
    h2 {
      font-size: 24px;
      font-weight: 600;
      padding: 0 40px;
    }
}

div.yellowbox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid $colorYellow;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

div.boxesSlide {
  display: none;
  div.box {
    margin-top: 5px;
    div.heading {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      div.headingleft {
        display: flex;
        align-items: center;
        img {
          width: 35px;
        }
        p.headingFlow.txtSmall {
          margin-left: 10px;
        }
      }
      i.fas.fa-angle-up {
        padding-top: 5px;
      }
    }
    div.contents {
      display: none;
      text-align: left;
      line-height: 1.7;
      padding: 20px;
      p {
        margin-top: 20px;
      }
    }
    div.contents.active {
      display: block;
    }
    .box p:not(:first-child) {
      margin-top: 10px;
    }
  }
}

div.sns {
  margin-top: 20px;
  ul {
    display: flex;
    justify-content: center;
    li {
      line-height: 0;
      margin-left: 5px;
    }
  }
}

/*=====header=====*/
header {
	div.wrapper {
    @include size (100%, 35px);
    position: relative;
    display: flex;
		div.logoWrap {
      display: flex;
      align-items: center;
			div.logo {
        height: 44px;
				img {
          width: 128px;
        }
      }
      p.subTitle {
        @include txt (14px,600);
        position: relative;
        bottom: -10px;
      }
		}
    div.contactWrap {
      div.contactPC {
        @include txt (14px,300);
        display: block;
        position: absolute;
        right: 0px;
        top: 16px;
        padding: 11px 40px;
      }
      div.contactSP {
        display: none;
      }
    }
  }
}

/*ヒーローイメージ*/
div.hero {
  @include bgImg (center);
  background-image: url(../img/main.jpg);
	div.wrapper {
    padding: 50px 0;
		div.mainLogo {
      margin-top: 20px;
			img {
        max-width: 371px;
        width: 94%;
        margin: auto;
      }
    }
	}
}

/*conversion*/
div.conversion {
  background-color: $colorYellow;
	div.wrapper {
    width: 906px;
    margin: auto;
    padding: 40px 0;
		p.txt {
      @include txt (16px,600);
    }
		p:not(:first-child) {
      margin-top: 20px;
			code {
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: 600;
      }
		}
		div.btn.contactPC {
      max-width: 806px;
      margin: 10px auto 0;
      padding: 25px 50px;
      border-radius: 9999px;
      font-weight: 600;
		}
		div.currently {
			ul {
        margin-top: 20px;
				li {
          @include txt (16px,600);
          margin-top: 20px;
        }
			}
    }

	}
}

div.introduction {
  @include bgImg (bottom);
  background-image: url(../img/road.PNG);
  background-size: 100% auto;
	background-repeat: no-repeat;

  div.wrapper {
    padding: 50px 0 0 0;
    max-width: 100%;
    div.txt {
      @include txt (16px,300);
      margin: 30px 30px 0;
      height: 340px;
      p + p {
        margin-top: 24px;
        span.underLine {
          font-weight: bold;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, $colorYellow));
          background: linear-gradient(transparent 70%, $colorYellow 70%);
        }
      }
    }
    div.aboutIcon {
      position: relative;
      top: 40px;
      p.circleAbout {
        @include size (80px, 80px);
        @include txt (14px,300);
        color: #fff;
        background-color: $colorYellow;
        padding: 0;
        margin: 0;
        line-height: 80px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}

div.about {
  background-color: #fef5e0;
  text-align: center;
	div.wrapper {
    padding: 90px 0 60px;
		div.yellowbox {
      div.boxes {
        align-items: center;
        div.box {
          width: 128px;
          p {
            img {
              @include size (auto, auto);
              max-width: 100%;
              max-height: 100%;
              height: 40px;
            }
          }
        }
        div.box + div.box {
          margin-left: 20px;
        }
      }
		}
	}
}

div.aboutsecond {
  @include bgImg (center);
  background-image: url(../img/night.jpg);
	div.wrapper {
		h2.txt {
      font-size: 24px;
    }
		p.txtWhite {
      @include txt (16px,600);
		}    
		p:nth-child(2).txtWhite {
      margin-top: 30px;
		}
	}
	div.chart {
    max-width: 520px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
		p.step {
      @include txt (14px,600);
      background-color: $colorYellow;
      border-radius: 5px;
    }
    p.content {
      @include txt (14px,600);
      margin-top: 20px;
      color: #333;
      line-height: 2;
    }
	}
}

div.aboutthird {
  background-color: $colorBlue;
  text-align: center;
	p.txtSmall {
    @include txt (14px,600);
	}
}

div.learning {
	div.wrapper {
    padding: 60px 0;
		div.boxes {
      margin-top: 60px;
			div.circle:not(:first-child) {
        margin-left: 40px;
      }
      div.circle {
        img {
          width: 100%;
        }
      }
    }
    div.boxes+p {
      margin-top: 60px;
      font-weight: 600;
    }
  }
}

div.merit {
  background-color: #fef5e0;
  div.wrapper {
    div.brackets {
      h2 {
        padding: 0 40px;
        @include txt (20px,600);
      }
      p {
        padding: 0 40px;
        margin-top: 10px;
        @include txt (24px,600);
      }
    }
    div.boxes {
      div.box {
        width: 300px;
        img {
          max-width: 300px;
          width: 100%;
        }
        p.txtYellow {
          @include txt (16px,600);
        }
        p {
          padding: 10px 10px 0;
          font-size: 14px;
        }
      }
      div.box + div.box {
        margin-left: 20px;
      }
    }
    div.yellowbox {
      p.txtYellow {
        @include txt (24px,600);
      }
      p+p {
        margin-top: 10px;
      }
    }
    p.remarks {
      padding: 0 100px;
      font-weight: 300;
      text-align: center;
    }
  }
}

div.teacher {
  @include bgImg (center);
  background-image: url(../img/sunset.jpg);
  color: #fff;
  div.wrapper {
    padding: 60px 0;
		p.txtSmall {
      margin-top: 30px;
    }
		div.boxes {
      margin: 190px auto 0;
			div.box {
        max-width: 289px;
        border: solid 3px #fff;
        padding: 40px;
				div.circleImg {
          position: relative;
          bottom: 200px;
          height: 40px;
					img {
            width: 100%;
            max-width: 200px;
					}
				}
				p {
          @include txt (14px,300);
          line-height: 1.6;
        }
        p + p {
          margin-top: 15px;
        }
      }
      div.box + div.box {
        margin-left: 30px;
      }
		}
	}
}

div.why {
  background-color: $colorYellow;
  color: #fff;
  &:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border: 25px solid transparent;
    border-top-color: $colorYellow;
    left: 50%;
    margin-left: -25px;
  }
	div.wrapper {
		div.Qicon {
			img {
			}
		}
		div.brackets {
      &:before,
      &:after {
        border-color: #fff;
      }
		}
	}
}

div.answer {
	div.wrapper {
    padding: 40px 0;
		h2 {
      @include txt(18px, 600);
		}
		p.heading {
      margin-top: 20px;
      @include txt(14px, 600);
    }
    p.heading+p.heading {
      @include txt(14px, 300);
    }
		div.boxes {
      flex-direction: column;
      div.box + div.box {
        margin-top: 30px;
      }
			div.box {
        display: flex;
        justify-content: center;
        text-align: left;
        p.image {
          border: solid 3px $colorYellow;
          height: 250px;
          img {
            width: 250px;
          }
        }
        div.comment {
          display: flex;
          flex-direction: column;
          width: 500px;
          margin-left: 20px;
          padding: 20px 0;
          color: #777;
          @include txt(18px, 300);
          p.customer {
            font-style: italic;
            text-decoration:underline;
            border-width: 1px;
            @include txt(14px, 300);
            margin-top: 10px;
          }
        }
      }
		}
	}
}

div.class {
  @include bgImg (center);
  background-image: url(../img/freelance.PNG);
	div.wrapper {
    padding: 60px 0;
		h2.txtMax.txtWhite {
		}
		p.txtWhite {
      @include txt(14px, 600);

		}
		div.boxes {
      align-items: flex-start;
      div.box + div.box {
        margin-left: 20px;
      }
			div.box {
        background-color: $colorBlue;
        border-radius: 5px;
        border: solid 2px $colorBlue;
        width: 255px;
				p {
          color: #fff;
          @include txt(16px, 600);
          padding: 15px 0;
				}
				ul {
          background-color: #fff;
          padding: 10px;
          li + li {
            margin-top: 10px;
          }
          li:not(:last-child) {
            border-bottom: solid 1px #e5e5e5;
            padding-bottom: 10px;
          }
          li {
            @include txt(14px, 600);
					}
				}
			}
		}
	}
}

div.flow {
	div.wrapper {
    width: 80%;
		h2.txtMax {
		}
		p.circleImage {
      margin: 30px 0;
			img {
        width: 100%;
        max-width: 700px;
			}
		}
		div.flowbox {
      display: flex;
      justify-content: center;
      background-color: $paleYellow;
      border-radius: 5px;
      padding: 35px;
      margin: auto;
			div.flowleft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
				p.image {
					img {
            width: 98px;
					}
				}
			}
			div.flowright {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: 20px;
        text-align: left;
        p {
          margin-top: 20px;
        }
			}
    }
    div.boxesSlide {
      div.box {
        background-color: $paleYellow;
      }
    }
    p.flowLine {
      line-height: 0;
      img {
        width: calc(100% - 300px);
      }
    }
  }
}

div.bangkok {
  @include bgImg (center);
  background-image: url(../img/guia.jpg);
  color: #fff;
  position: relative;
  &:before {
    content: '';
    background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }
	div.wrapper {
    width: 80%;
    padding: 50px;
    // height: 500px;
    position: relative;
    z-index: 1;
		h2.txtMax.txtWhite {
      text-align: left;
		}
		p.txtMin {
      text-align: left;
      margin-top: 30px;
		}
		ul {
      margin-top: 30px;
      list-style-type: disc;
      list-style-position: inside;
			li {
        text-align: left;
        @include txt(14px, 600);
        line-height: 2;
			}
		}
		p.txtMedium {
      text-align: left;
      margin-top: 30px;
		}
	}
}

div.special {
  background-color: $colorYellow;
	div.wrapper {
    padding: 60px 0;
		p.txtSmall {
      margin-top: 30px;
			span.txtWhite {
			}
    }
    p.specialpeople.txtMax {
      position: relative;
      top: 40px;
      background-color: $colorYellow;
      width: 300px;
      margin: auto;
      padding: 0 50px;
    }
    div.boxes {
      border: solid 3px #fff;
      padding: 60px 50px 50px;
      max-width: 850px;
      margin: auto;
      div.circle {
        background-color: #fff;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p.txtSmall {
          width: 220px;
          margin: 10px auto;
        }
      }
      div.circle + div.circle {
        margin-left: 60px;
      }
    }
    div.boxesSP {
      display: none;
    }
	}
}

div.specialdetail {
  @include bgImg (center);
  background-image: url(../img/normad.jpg);
  color: #fff;
  position: relative;
  &:before {
    content: '';
    background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }
	div.wrapper {
    padding: 60px 0;
    position: relative;
		.txtLarge {
      margin-top: 30px;
		}
		div.brackets {
      margin-top: 30px;
      &:before,
      &:after {
        border-color: #fff;
      }
		}
	}
}

div.message {
	div.wrapper {
    padding: 60px 0;
    width: 85%;
		p.txtLarge {
      margin-top: 30px;
		}
		div.boxes {
			p {
				img {
          width: 224px;
          height: 168px;
				}
			}
			div.txtWrap {
        text-align: left;
        margin-left: 30px;
        p + p {
          margin-top: 10px;
        }
        p {
          @include txt (14px,300);
        }
				ul {
          list-style-type: disc;
          list-style-position: inside;
          margin: 30px 0;
					li {
            @include txt (14px,300);
					}
				}
			}
		}
	}
}

div.contactform {
  background-color: $colorYellow;
	div.wrapper {
    width: 60%;
    padding: 60px 0;
    p {
      margin-top: 30px;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      div.formdeco {
        input[type=text],
        input[type=email],
        textarea[type=textarea]{
          box-sizing: border-box;
          width: 100%;
          margin: 8px 0;
          padding: 0.9em;
          transition: 0s;
          border: 0px solid;
          border-radius: 4px;
          outline: none;
          font-size: 14px;
          height: 50px;
        }
        input[type=text]:focus,
        input[type=email]:focus,
        textarea[type=textarea]:focus {
          border: 3px solid #FFA500;
          border-radius: 4px;
        }
        textarea#question {
          height: 100px;
        }
      }
      p.btn {
        height: 55px;
        button {
          background-color: #da6b64;
          color: #fff;
          border-style: none;
          padding-top: 12px;
          @include txt (24px,600);
        }
      }
    }
	}
}

div.questions {
  div.wrapper {
    width: 60%;
    div.boxesSlide {
      display: block;
      div.box {
        div.heading {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          border: 1px solid #e5e5e5;
        }
      }
    }
  }
}

footer {
  background-color: #e5e5e5;
  color: #333;
	div.wrapper {
		div.sns {
      margin-top: 10px;
		}
		p.txtMin {
      margin-top: 10px;
    }
	}
}
div#pageTop {
  background-color: #e5e5e5;
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 22.5px;
  }
}
div#pageTop a:hover {
  background-color: #666;
  text-decoration: none;
}

/*メディアクエリ タブレットサイズ*/
@include tab {
  .brTAB {
    display: block;
  }
  .brPC {
    display: none;
  }
  div.boxesSlide {
    display: block;
    div.box {
      background-color: #fff;
    }
  }

  header {
    div.wrapper {
      div.logoWrap {
        p.subTitle {
          font-size: 10px;
        }
      }
      div.contactWrap {
        width: auto;
        div.contactPC {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.conversion {
    div.wrapper {
      p:not(:first-child) {
        code {
          font-size: 12px;
        }
      }
      div.currently {
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }

  div.introduction {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 18px;
        }
      }
      div.txt {
        height: 430px;
        p {
          font-size: 15px;
        }
      }
    }
  }

  div.about {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 18px;
        }
      }
      div.yellowbox {
        P.txt {
          font-size: 14px;
        }
        div.boxes {
          div.box {
            p {
              img {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }

  div.aboutsecond {
    div.wrapper {
      h2.txt {
        font-size: 18px;
      }
      p.txtWhite {
        font-size: 14px;
        margin-top: 20px;
      }
      p.txtWhite + p.txtWhite {
        margin-top: 10px;
      }
    }
    div.chart {
      padding: 20px;
      p.step {
        font-size: 14px;
        margin-top: 0;
      }
      p.content {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }

  div.merit {
    div.wrapper {
      div.brackets {
        h2 {
          @include txt (16px,600);
        }
        p {
          margin-top: 10px;
          @include txt (20px,600);
        }
      }
      div.boxes {
        flex-direction: column;
        align-items: center;
        div.box {
          width: 100%;
          p {
            padding: 10px 10px 0;
          }
        }
        div.box + div.box {
          margin: 20px 0 0;
        }
      }
      div.yellowbox {
        p.txtYellow {
          @include txt (24px,600);
        }
        p+p {
          margin-top: 10px;
        }
      }
      p.remarks {
        padding: 0 10px;
        @include txt (12px,300);
      }
    }
  }

  div.teacher {
    div.wrapper {
      div.boxes {
        flex-direction: column;
        align-items: center;
        margin: 0;
        div.box {
          margin-top: 170px;
          padding: 0 40px 40px;
          max-width: 100%;
          div.circleImg {
            bottom: 100px;
            img {
              width: 120px;
            }
          }
        }
        div.box + div.box {
          margin-left: 0;
        }
      }
    }
  }

  div.why {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 14px;
        }
      }
    }
  }

  div.answer {
    div.wrapper {
      padding: 40px 0;
      h2 {
        @include txt(18px, 600);
      }
      p.heading {
        margin-top: 20px;
        @include txt(14px, 600);
      }
      p.heading+p.heading {
        @include txt(14px, 300);
      }
      div.boxes {
        flex-direction: column;
        padding: 0 50px;

        div.box + div.box {
          margin-top: 40px;
        }
        div.box {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: left;
          p.image {
            border: solid 3px $colorYellow;
            height: 150px;
            width: 150px;
            margin: auto;
            img {
              width: 150px;
            }
          }
          div.comment {
            padding:0;
            margin: 10px 0 0;
            width: 100%;
          }
        }
      }
    }
  }

  div.class {
    div.wrapper {
      p.txtWhite {
        @include txt(14px, 600);
      }
      div.boxes {
        flex-direction: column;
        div.box + div.box {
          margin: 30px auto;
        }
        div.box {
          width: 100%;
          max-width: 600px;
          margin: auto;
          p {
            color: #fff;
            @include txt(16px, 600);
            padding: 15px 0;
          }
          ul {
            background-color: #fff;
            padding: 10px;
            li + li {
              margin-top: 10px;
            }
            li {
              @include txt(14px, 600);
            }
          }
        }
      }
    }
  }

  div.flow {
    div.wrapper {
      h2.txtMax {
        display: none;
      }
      div.flowbox {
        display: none;
      }
      p.flowLine {
        display: none;
      }

    }
  }

  div.special {
    div.wrapper {
      div.boxes {
        flex-direction: column;
        align-items: center;
        div.circle + div.circle {
          margin: 50px 0 0;
        }
      }
    }
  }

  div.specialdetail {
    div.wrapper {
      h2.txtMax {
        @include txt (20px,600);
      }
      p.txtLarge {
        @include txt (14px,600);
      }
    }
  }

  div.message {
    div.wrapper {
      width: 90%;
      div.boxes {
        flex-direction: column;
        p {
          img {
            width: 100%;
            height: auto;
          }
        }
        div.txtWrap {
          margin-left: 0;
        }
      }
    }
  }

  div.contactform {
    background-color: $colorYellow;
    div.wrapper {
      width: 94%;
      padding: 60px 0;
      h2 {
        @include txt (18px,600);
      }
      p {
        @include txt (12px,600);
      }
      form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
      }
    }
  }


}



/*メディアクエリ スマホサイズ*/
@include sp {
  .brSP {
    display: block;
  }
  .brPC {
  display: none;
}

  header {
    div.wrapper {
      max-width: 100%;
      height: 61px;
      padding: 0;
      align-items: flex-start;
      div.logoWrap {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 10px 5px;
        div.logo {
          height: 31px;
          img {
            width: 90px;
          }
        }
        p.subTitle {
          bottom: 0;
        }
      }
      div.contactWrap {
        div.contactPC {
          display: none;
        }
        div.contactSP {
        position: absolute;
        right: 0px;
        padding: 9px 11px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
          img {
            width: 20px;
            margin: auto;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.conversion {
    div.wrapper {
      div.currently {
        ul {
          li {
            font-size: 12px;
          }
        }
      }
    }
  }

  div.about {
    div.wrapper {
      div.brackets {
        h2 {
          font-size: 16px;
        }
      }
      p.txt {
        font-size: 14px;
      }
      div.yellowbox {
        P.txt {
          font-size: 14px;
        }
        div.boxes {
          flex-direction: column;
          div.box + div.box {
            margin: 20px 0 0;
            p {
              img {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }

  div.aboutsecond {
    div.wrapper {
      h2.txt {
        font-size: 16px;
      }
      p.txtWhite {
        font-size: 12px;
      }
    }
    div.chart {
      p.step {
        font-size: 12px;
      }
      p.content {
        font-size: 12px;
      }
    }
  }

  div.learning {
    div.wrapper {
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      div.boxes {
        flex-direction: column;
        div.circle:not(:first-child) {
          margin: 20px 0 0;
        }
        div.circle {
          img {
            width: 100%;
            max-width: 130px;
          }
        }
      }
    }
  }

  div.merit {
    div.wrapper {
      div.brackets {
        h2 {
          @include txt (14px,600);
        }
        p {
          margin-top: 10px;
          @include txt (18px,600);
        }
      }
      div.boxes {
        flex-direction: column;
        align-items: center;
      }
      div.yellowbox {
        p.txtYellow {
          @include txt (20px,600);
        }
        p+p {
          margin-top: 10px;
        }
      }
      p.remarks {
        padding: 0 10px;
        @include txt (12px,300);
      }
    }
  }

  div.bangkok {
    div.wrapper {
      padding: 20px;
      ul>li {
        @include txt (12px,600);
      }
    }
  }

div.special {
	div.wrapper {
    p.specialpeople.txtMax {
      top: 30px;
      padding: 0;
      @include txt (18px,600);
      width: 220px;
    }
    div.boxes {
      display: none;
    }
    div.boxesSP {
      display: block;
      border: solid 2px #fff;
      width: 90%;
      margin: auto;
      div.benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
        padding: 0 40px;
        div.circleSP {
          border-radius: 50%;
          background-color: #fff;
          max-width: 60px;
          height: 60px;
          padding: 0;
          p.txtYellow.txtSmall {
            @include txt (12px,600);
            width: 60px;
            line-height: 60px;
            margin: 0;
          }
        }
        div.circleSP + p.txtSmall {
          @include txt (12px,600);
          margin: 0 0 0 10px;
        }

      }
    }
	}
}

}



/*メディアクエリ lgサイズ*/
@include lg {
  div.introduction {
    div.wrapper {
      div.aboutIcon {
        position: relative;
        top: 60px;
        p.circleAbout {
          @include size (120px, 120px);
          color: #fff;
          background-color: $colorYellow;
          padding: 0;
          margin: 0;
          line-height: 120px;
          display: inline-block;
          border-radius: 50%;
          font-size: 14px;
        }
      }
    }
  }
}